{% extends "./wrapper.html" %}{% load actionkit_tags %}
{% block content %}
{% load_remember_me %}

{% if request.GET.state %}
    {% include 'callcontent.html' with lpvstate=request.GET.state %}
{% else %}
    {% include 'callcontent.html' with lpvstate=user.state %}
{% endif %}


{% endblock %}

{% block script_additions %}
<script type="text/javascript">
$(window).load(function() {
    $('#target_checkboxes').appendTo('div#who_called');

    var $window = $(window);
    function call_page_steps_mobile() {
        var windowSize = $window.width();
        if (windowSize < 480) {
               $('.ak-steps-area h3').addClass('clickable');
        } else {
            $('.ak-steps-area h3').removeClass('clickable');
            $('.ak-steps-area h3').each( function () {
              $(this).siblings('div').show();
            });
        }

    }
       $('.ak-steps-area').on('click', 'h3.clickable', function(e) {
        e.stopPropagation();
        $(this).toggleClass('active');
        $(this).siblings('div').stop().slideToggle('fast');
    });

    $(window).on('resize', call_page_steps_mobile);
    call_page_steps_mobile();

});
</script>
{% endblock %}
