{% extends "./wrapper.html" %}
{% load actionkit_tags %}
                {% autoescape off %}{{ statejson|nth:request.GET.state|nth:"intro"|safe }}{% endautoescape %}

{% block script_additions %}

<script type="text/javascript">
    function toggleChooser(on) {
        var name,
            to_row = $("#to_target_row"),
            media_target = $("#media_target"),
            lte_letter = $('#lte-letter, #lte-submit');
        if (on) {
            media_target.fadeIn('fast');
            //lte_letter.fadeOut('fast');
            to_row.fadeOut('fast');
            $("input[name=media_target]:checked").attr('checked', false);
        } else {
            media_target.fadeOut('fast');
            lte_letter.fadeIn('fast');
            to_row.fadeIn('slow');
            name = $("input[name=media_target]:checked").closest(".ak-newspaper-row").find('.ak-newspaper-title a').html();
            $("#to_target_name").html("Editor, " + name);
            $("html body").scrollTop($("form.ak-form").position().top);
        }
    }    

    // adapted from http://blog.themeforest.net/tutorials/creating-a-jquery-word-counter/
    function countWords(textarea) {
    	//console.log('count words running');
        var countControl = ( '' + $(textarea).data('wordcount') ).split(',');
        var minWords = 0;
        var maxWords = 0;
    
        if(countControl.length > 1) {
            minWords = countControl[0];
            maxWords = countControl[1];
        } else {
            maxWords = countControl[0];
        }
        
        var countArea = $(textarea).siblings(".ak-counter-area");
        var countDigits = countArea.children('.ak-counter-words');
                
        var update_func = function() {
            // console.log('countWords update_func');
            var numWords = jQuery.trim($(textarea).val()).split(/\s+/).length;
            if($(textarea).val() === '') {
                numWords = 0;
            } 
            countDigits.text(numWords);

            if(numWords < minWords || (numWords > maxWords && maxWords != 0)) {
                countDigits.addClass('ak-color-error');
            } else {
                countDigits.removeClass('ak-color-error');    
            }

        };
        
        update_func();
    
        $(textarea).bind('keyup click blur focus change paste', update_func);
    }
    function abbreviate(name, maxLength) {
        return name.length <= maxLength ? 
            name : name.substring(0, maxLength - 3) + "...";
    }

    $(window).load( function() {
        $('.ak-accordion ul li').children(':not(.ak-accordion-head)').hide();

        $(".ak-accordion .ak-accordion-head").on('click', function() {
            var section = $(this).parent();
            section.toggleClass('active');
            section.children(':not(.ak-accordion-head)').slideToggle();
        } );

        $('.ak-accordion .ak-accordion-head').append(
            '<span class="ak-arrow-holder"><span class="ak-arrow"></span></span>'
        );
        
        $("input[name=media_target]").change( function() { 
            toggleChooser(false);
            return false;
        } );
        $('#ak-newspaper-change').click( function() { 
            toggleChooser(true);
            return false;
        } );
        /*If there is an error on form submission, make sure the page reloads to stay on the form*/
        if ($('ul.compact:contains("letter")').length){
			toggleChooser(false);
        }
    } );

</script>

{% endblock %}

{% block content %}

{% load_remember_me %}


{% if request.GET.state %}
    {% include 'ltecontent.html' with lpvstate=request.GET.state %}
{% else %}
    {% include 'ltecontent.html' with lpvstate=user.state %}
{% endif %}

<div id="na"></div>
<script type="text/ak-template" for="na">
    [%
    /* Done inside an ak-template to ensure this executes after other ak-templates. */
    if (!incomplete) {
        countWords($("[data-wordcount]")[0]);
        $('#lte-submit').hide()
    }
    %]
</script>
{% endblock %}

