{% with templateset.custom_fields.statejson|load_json as statejson %}
<!DOCTYPE html>
<html>
<head>
	<script>
	window.history.pushState("string", "Title", "https://vote.peoplepower.org/{{ lpvstate }}");
	</script>
	<title>Join the campaign to let people vote in {{ statejson|nth:lpvstate|nth:"statename" }} | ACLU People Power</title>
	
	<meta charset="utf-8">

	<!-- Search Engine -->
	<meta name="description" content="While ACLU lawyers protect our voting rights and fight voter suppression in the courts, People Power activists are going on offense in {{ statejson|nth:lpvstate|nth:"statename" }} to expand voting rights.">
	<meta name="image" content="https://s3.amazonaws.com/s3.peoplepower.org/images/aclu-default.png">
	<!-- Schema.org for Google -->
	<meta itemprop="name" content="Join the campaign to let people vote in {{ statejson|nth:lpvstate|nth:"statename" }} | ACLU People Power">
	<meta itemprop="description" content="">
	<meta itemprop="image" content="https://s3.amazonaws.com/s3.peoplepower.org/images/aclu-default.png">
	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Join the campaign to let people vote in {{ statejson|nth:lpvstate|nth:"statename" }} | ACLU People Power">
	<meta name="twitter:description" content="While ACLU lawyers protect our voting rights and fight voter suppression in the courts, People Power activists are going on offense in {{ statejson|nth:lpvstate|nth:"statename" }} to expand voting rights.">
	<meta name="twitter:site" content="@PeoplePower">
	<meta name="twitter:image:src" content="https://s3.amazonaws.com/s3.peoplepower.org/images/aclu-default.png">
	<!-- Open Graph general (Facebook, Pinterest & Google+) -->
	<meta property="og:title" content="Join the campaign to let people vote in {{ statejson|nth:lpvstate|nth:"statename" }} | ACLU People Power">
	<meta property="og:description" content="While ACLU lawyers protect our voting rights and fight voter suppression in the courts, People Power activists are going on offense in {{ statejson|nth:lpvstate|nth:"statename" }} to expand voting rights.">
	<meta property="og:image" content="https://s3.amazonaws.com/s3.peoplepower.org/images/aclu-default.png">
	<meta property="og:url" content="https://vote.peoplepower.org/cms/thanks/join_lpv_homepage?state={{lpvstate}}">
	<meta property="og:site_name" content="People Power">
	<meta property="og:type" content="website">

	<!-- Theme Color for Chrome, Firefox and Opera Mobile -->
	<meta name="theme-color" content="#86FAE8">

	<!-- Font Awesome Icons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
	<!-- Normalize.css -->
	<link rel="stylesheet" type="text/css" href="https://peoplepower.org/let-people-vote/normalize.css">
	<!-- Action Kit Styles -->
	<link rel="stylesheet" type="text/css" href="https://peoplepower.org/let-people-vote/actionkit.css">
	<!-- Main Styles -->
	<link rel="stylesheet" type="text/css" href="https://peoplepower.org/let-people-vote/styles.css">
	<!-- Local Styles -->
	<style type="text/css">
		html { background: #231F20; }
	</style>

	<!-- Support for Mobile Screens -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicon -->
	<link rel="icon" href="favicon.ico">

	<!-- Google Analytics -->

	<!-- Facebook Pixel Code -->

	<!-- Twitter universal website tag code -->

	<!-- Action Kit Init -->


</head>
<body class="state-page">
	<div class="state-logo">
		<a href="https://vote.peoplepower.org" style="border:0;">
			<img class="state-logo" src="https://peoplepower.org/let-people-vote/img/logowhite.svg" />
		</a>
	</div>
	<div class="spacer"></div>
	<div class="state-flex">
		<div id="state-flex-left">
		
	
		
		
			<h1>Join the campaign to let people vote in {{ statejson|nth:lpvstate|nth:"statename" }}</h1>
			{% autoescape off %}{{ statejson|nth:lpvstate|nth:"intro"|safe }}{% endautoescape %}
			<div class="state-full-plan">
				<a href="{{ statejson|nth:lpvstate|nth:"planlink" }}"><i class="fa fa-download" aria-hidden="true"></i>Download the full plan for the "Let People Vote" campaign in {{ statejson|nth:lpvstate|nth:"statename" }}</a>
				{% if statejson|nth:lpvstate|nth:"espanol" %}
				<br><br><a href="{{ statejson|nth:lpvstate|nth:"espanol" }}">Ve/Descarga la Programa de Acción para {% if statejson|nth:lpvstate|nth:"statename"|length < 11 %}{{ statejson|nth:lpvstate|nth:"statename" }}{% else %}{{ lpvstate }}{% endif %} en Español</a>
				{% endif %}<br><br>
								<a id="videoplay" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i>Watch the "Let People Vote" live stream launch</a>
								<br>
				<div id="videoframe"></div>

			</div>
			<div class="action-network state-action-network">
				<script>
				console.log("The load_remember_me snippet for Remember Me is disabled by config.")
				</script>
				<form class="action_form" name="act" id="signup-form" method="POST" action="https://go.peoplepower.org/act/" accept-charset="utf-8">
				    <div class="ak-grid-row">
				        <div id="signup-form" class="ak-grid-col ak-grid-col-6-of-12 ak-styled-fields ak-labels-overlaid ak-errs-below">
				            <ul class="compact" id="ak-errors"></ul>
				            <div id="known_user">
				                Not <span id="known_user_name"></span>? <a href="https://go.peoplepower.org?" onclick="return actionkit.forms.logOut()">Click here.</a>
				            </div>
				            <div id="unknown_user" class="ak-user-form">
				            	<div id="ak-fieldbox-first_name" class="required">
				            	    <input type="text" name="first_name" id="id_first_name" autocomplete="given-name" class="ak-userfield-input" placeholder="First Name *">
				            	</div>
				            	<div id="ak-fieldbox-last_name" class="required">
				            	    <input type="text" name="last_name" id="id_last_name" class="ak-userfield-input" placeholder="Last Name *">
				            	</div>
				            	<div id="ak-fieldbox-mobile_phone" class="required">
				            	    <input type="text" name="mobile_phone" id="id_mobile_phone" class="ak-userfield-input" placeholder="Phone *">
				            	</div>
				            	<div id="ak-fieldbox-zip" class="required">
				            	    <input type="text" name="zip" id="id_zip" class="ak-userfield-input" placeholder="Zip *"{%if user.zip %} value="{{user.zip}}"{%endif%}>
				            	</div>
				                <div id="ak-fieldbox-email" class="required">
				                    <input type="text" name="email" id="id_email" class="ak-userfield-input" placeholder="Email *"{%if user.email %} value="{{user.email}}"{%endif%}>
				                </div>
				                <input type="hidden" name="country" value="United States">
				            </div>
				                                            <input class="btn btn-primary btn-block full" type="submit" value="{%if user.email %}Sign up to volunteer{%else%}Join the Movement{%endif%}">

				        </div>
				    </div>
				    <input type="hidden" name="page" value="join_lpv">
				</form>
			</div>
		</div>
		<div id="state-flex-right">
		{% if not lpvstate = "TN" %}
			<div class="state-action-item">
				<h2>Take Action Now</h2>
				<p>{{ statejson|nth:lpvstate|nth:"cta" }}</p>
				<a href="{{ statejson|nth:lpvstate|nth:"ctalink" }}?akid={{ akid }}&state={{ lpvstate }}">
				{% if statejson|nth:lpvstate|nth:"bucket" = "CSL" %}
				Call your legislators now
				{% elif statejson|nth:lpvstate|nth:"bucket" = "CLO" %}
				Call local officials now
				{% elif statejson|nth:lpvstate|nth:"bucket" = "CSO" %}
				Call state officials now
				{% else %}
				Write a letter to the editor{% endif %}</a>
			</div>
		{%endif%}
			<div class="state-action-item">
				<h2>Learn About the Campaign</h2>
				<p>Read up on how we're fighting to let people vote in {{ statejson|nth:lpvstate|nth:"statename" }}.</p>
				<a href="{{ statejson|nth:lpvstate|nth:"planlink" }}">Download the full {% if statejson|nth:lpvstate|nth:"statename"|length < 11 %}{{ statejson|nth:lpvstate|nth:"statename" }}{% else %}{{ lpvstate }}{% endif %} Plan</a>
				{% if statejson|nth:lpvstate|nth:"espanol" %}
				<br><a href="{{ statejson|nth:lpvstate|nth:"espanol" }}">Descarga la Programa en Español</a>
				{% endif %}
			</div>
			<div class="state-action-item">
				<h2>Find a Local Event</h2>
				<p>The next step to 'Let People Vote' is to attend a local event with other People Power organizers. Type in your zip code to search for events near you.</p>
				<form action="{%if user.zip %}https://map.peoplepower.org/#zipcode={{ user.zip }}&eventType=votingRights&source=lpv_{{lpvstate}}{%endif%}" class="state-find-local" id="state-find-local-target">
				  <input type="text" placeholder="Zip *" id="state-find-local-form"{%if user.zip %} value="{{user.zip}}" style="display:none;"{%endif%}>
				  <input type="submit" value="{%if user.zip %}Search events near &lsquo;{{user.zip}}&rsquo;{%else%}Search{%endif%}" id="go-state-find-local-form"{%if user.zip %} style="width:100%;float:none;clear:both;"{%endif%}>
				</form>
			</div>
			<div class="state-action-item">
				<h2>Host a Local Event</h2>
				<p>Are you ready to lead the 'Let People Vote' movement in your community? Host a local organizing event.</p>
				<a href="https://go.peoplepower.org/signup/host_new?source=lpv_{{lpvstate}}">Sign up to host</a>
			</div>
			<div class="state-social">
				<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//vote.peoplepower.org/cms/thanks/join_lpv_homepage?state={{ lpvstate }}&source=share">
					<div class="state-social-button">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</div>
				</a>
				<a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fvote.peoplepower.org%2Fcms%2Fthanks%2Fjoin_lpv_homepage%3Fstate%3D{{lpvstate}}%26source=share&text=Join%20the%20campaign%20to%20Let%20People%20Vote%20in%20{{ statejson|nth:lpvstate|nth:"statename" }}%20%7C%20ACLU%20People%20Power">
					<div class="state-social-button">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="state-banner">
		<img src="https://peoplepower.org/let-people-vote/img/logo.svg" alt="ACLU People Power">
	</div>
	<div class="state-footer">
		<p>
                    By submitting this form, you are agreeing to receive
                    periodic updates from People Power and other ACLU channels. Read our <a href="https://go.peoplepower.org/signup/privacy/">Privacy Policy</a>. 
                    
                </p>
		<p>ACLU People Power is partnering with a broad group of national, state and local organizations and activist groups on the Let People Vote campaign.  Many of the campaign’s calls to action were developed by partners, and this work will be advanced hand-in-hand with organizations such as the League of Women Voters, Common Cause, Kentuckians For The Commonwealth, Voice of the Experienced (VOTE), Restore the Vote Coalition, the NAACP, Nebraskans for Civic Reform; Latino American Commission, the Bus Project, MoveOn, Keystone Votes Coalition, Utahns for Responsive Government, Citizen Action of Wisconsin, VICE Impact, and many, many others.</p>
		{% autoescape off %}{{ statejson|nth:lpvstate|nth:"disclaimer"|safe }}{% endautoescape %}
		<a href="">&copy; 2017 ACLU People Power &mdash; www.aclu.org</a>
	</div>
	

	<!-- Initialize jQuery -->
	<script src="https://peoplepower.org/js/jquery-1.12.4.min.js" type="text/javascript"></script>
	<!-- Call Main JS File -->
	<script src="https://peoplepower.org/let-people-vote/js/main.js" type="text/javascript" charset="utf-8"></script>
	<!-- ACLU Map Search -->
	<script type="text/javascript">
	  $(document).ready(function() {
	      $('#state-find-local-form').change(function() {
	        var inputZip = $('#state-find-local-form').val();
	        $('form#state-find-local-target').attr('action', "https://map.peoplepower.org/#zipcode=" + {%if user.zip %}"{{user.zip}}"{%else%}inputZip{%endif%} );
	        var searchURL = $('form#state-find-local-target').attr('action');
	        $('form#state-find-local-target').attr('action', searchURL + "&eventType=votingRights&source=lpv_{{lpvstate}}");
			  
			   $('#videoplay').on('click', function() {
					$('#videoframe').html('<iframe style="width:100%;" height="315" src="https://www.youtube-nocookie.com/embed/sVRMxE3PK-U?rel=0" frameborder="0" allowfullscreen></iframe>');
				});
	      });

    // I'll admit. Not the cleanest way but it'll work!
    $('#signup-form').submit(function(e) {
        var form = $(e.target);
        var button = form.find('input.btn');
        var sign_up_text = button.val();
        var handle_success = function(form) {
            // Let user know that it's done

            button.addClass('btn-success').val('Thanks for signing up!').unbind();
			
            setTimeout(function() {
                button.removeClass('btn-success').addClass('btn-primary').val(sign_up_text);
				
            }, 5000);
            // Reset the form for next submission
            form.trigger('reset');
			$('#unknown_user').slideUp('100');
        };
		
        var handle_failure = function(form) {
            // Let user know that it failed
            // Keep the form as is for resubmission
            button.addClass('btn-warning').val('Error. Try again?');
            setTimeout(function() {
                button.removeClass('btn-warning').addClass('btn-primary').val(sign_up_text);
            }, 5000);
        };

        if (!form.hasClass('contains-errors')) {
            e.preventDefault();
            form.find('input.btn').removeClass('btn-primary').val('Processing...');
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: form.serialize(),
                dataType: "jsonp",
                success: function(data, textStatus, jqXHR) {
                    if (data.result == "success") {
                        // Form submitted!
                        handle_success(form);
                    } else {
                        // Handle error
                        handle_failure(form);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // Handle error
                    handler_failure(form);
                }
            });
        }
    });

});
	</script>
</body>
</html>
{% endwith %}
