{% load actionkit_tags %}


{% if request.GET.thanks %}

{% include 'thankscore.html' %}



{%else%}

	{% block content %}
	{% autoescape off %}
		{% if request.GET.state %}
			{% if request.GET.source %}
				{% include 'statepage.html' with lpvstate=request.GET.state source=request.GET.source %}
			{% else %}
				{% include 'statepage.html' with lpvstate=request.GET.state %}
			{% endif %}
		{% else %}			
			{% if request.GET.source %}
				{% include 'statepage.html' with lpvstate=user.state source=request.GET.source %}
			{% else %}
				{% include 'statepage.html' with lpvstate=user.state %}
			{% endif %}	
			
		{% endif %}

	{% endautoescape %}
	{% endblock %}

{%endif%}

